.card {
    width: 20vw;
    border: 1px black solid;
    padding: 0.5vh 0.5vw;
    border-radius: 3px;
}
.cardTitle{
    font-size: 1.5rem;
}
.cardContentContainer{
    display: flex;
}
.astroImg {
    width: 5vw;
    height: 5vw;
    margin-right: 0.5vw;
    border-radius: 5px;
}